@import '~office-ui-fabric-react/dist/sass/_References.scss';
.siteOrder {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  .column {
    @include ms-Grid-col;
    @include ms-lg6;
    @include ms-sm12;
    padding: 10px;
  }
  .orderBox {
    @include ms-borderBase;
    width: 100%;
    %cell {
      margin: 10px;
    }
    .topCell {
      @extend %cell;
      height: auto;
      padding: 10px;
      .headerImage {
        height: 100px;
        width: 100px;
        float: left;
        .headerIcon {
          font-size: 80px;
          height: 80px;
          width: 80px;
          margin: 20px 25px 0px 5px;
        }
      }
      .headerText {
        overflow: hidden;
        h1 {
          margin: 0px;
        }
      }
    }
    .middleCell {
      @extend %cell;
      height: auto;
      .productContainer {
        height: fit-content;
        .iconContainer {
          width: 100%;
          margin: 10px;
          .icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
            margin-top: 5px;
            margin-right: 10px;
            float: left;
          }
          .iconLabel {
            color: black;
          }
        }
      }
    }
    .bottomCell {
      @extend %cell;
      height: auto;
      .primaryButton {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }
  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }
  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  .button {
    // Our button
    text-decoration: none;
    height: 32px; // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white; // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;
    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
